.paletto-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: auto;
  height: auto;
  padding: 0.625rem;
  background-color: var(--color-white);
  border-radius: 0.625rem;
  margin: 0.625rem;
  margin-top: 3.125rem;
}

.header-content__title {
  font-size: 1.875rem;
  text-align: center;
  background-color: var(--color-primary);
  border-radius: 0.625rem;
  color: var(--color-white);
  padding: 0.625rem;
}

.header-content__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: auto;
  width: auto;
}

.header-content__form-input {
  width: 6.25rem;
  height: 3.125rem;
  padding: 0.625rem;
  margin: 0.625rem;
  outline: none;
  font-size: 1.25rem;
  background-color: var(--color-primary);
  border: 0.125rem solid var(--color-white);
  border-radius: 0.625rem;
  color: var(--color-white);
  transition: border 1s;
}

.header-content__form-submit {
  background-color: var(--color-primary);
  border: 0.125rem solid var(--color-white);
  border-radius: 0.625rem;
  color: var(--color-white);
  width: 6.25rem;
  height: 3.125rem;
  padding: 0.625rem;
  font-size: 0.9375rem;
  margin: 0.625rem;
  cursor: pointer;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: 100%;
  margin-top: 1.875rem;
  border-radius: 0.625rem;
}

.header-content__form-input--error {
  border: 0.125rem solid var(--color-red);
  transition: border 1s;
}

@media only screen and (min-width: 1024px) {
  .header-wrapper {
    justify-content: flex-start;
  }

  .header-content {
    margin: 1.875rem;
  }
}
