.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: auto;
  height: auto;
  padding: 1rem;
  background-color: var(--white-color);
  border-radius: 1rem;
  margin: 1rem;
  margin-top: 5rem;
}

.header__wrapper h2 {
  font-size: 3rem;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: var(--white-color);
  padding: 1rem;
  padding: 1rem;
}

.header__wrapper form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: auto;
  width: auto;
}

.input {
  width: 10rem;
  height: 5rem;
  padding: 1rem;
  margin: 1rem;
  outline: none;
  font-size: 2rem;
  background-color: var(--primary-color);
  border: 0.2rem solid var(--white-color);
  border-radius: 1rem;
  color: var(--white-color);
  transition: border 1s;
}

.header__wrapper form button {
  background-color: var(--primary-color);
  border: 0.2rem solid var(--white-color);
  border-radius: 1rem;
  color: var(--white-color);
  width: 10rem;
  height: 5rem;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: 100%;
  margin-top: 3rem;
  border-radius: 1rem;
}

.color {
  height: 20rem;
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 0.3rem solid var(--black-color);
  border-radius: 1rem;
  cursor: pointer;
}

.color p {
  font-size: 1.5rem;
  font-weight: 600;
}

.color h2 {
  font-size: 2rem;
}

.color--textlight {
  color: #fff;
}

.input.error {
  border: 0.2rem solid var(--red-color);
  transition: border 1s;
}

@media only screen and (min-width: 1024px) {
  .header {
    justify-content: flex-start;
  }

  .header__wrapper {
    margin: 3rem;
  }

  .color {
    height: 20rem;
    width: 20rem;
    margin: 1rem;
  }
}
