.main-app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: auto;
  height: auto;
  padding: 1rem;
  background-color: var(--white-color);
  border-radius: 1rem;
  margin: 1rem;
  margin-top: 5rem;
}

.header-content__title {
  font-size: 3rem;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: var(--white-color);
  padding: 1rem;
  padding: 1rem;
}

.header-content__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: auto;
  width: auto;
}

.header-content__form-input {
  width: 10rem;
  height: 5rem;
  padding: 1rem;
  margin: 1rem;
  outline: none;
  font-size: 2rem;
  background-color: var(--primary-color);
  border: 0.2rem solid var(--white-color);
  border-radius: 1rem;
  color: var(--white-color);
  transition: border 1s;
}

.header-content__form-submit {
  background-color: var(--primary-color);
  border: 0.2rem solid var(--white-color);
  border-radius: 1rem;
  color: var(--white-color);
  width: 10rem;
  height: 5rem;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: 100%;
  margin-top: 3rem;
  border-radius: 1rem;
}

.header-content__form-input--error {
  border: 0.2rem solid var(--red-color);
  transition: border 1s;
}

@media only screen and (min-width: 1024px) {
  .header-wrapper {
    justify-content: flex-start;
  }

  .header-content {
    margin: 3rem;
  }
}
